* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(135deg, #0b1c2d 70%, #f3a4c8 100%);
  height: 100vh;
}

/* AUTH */

.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-box {
  background: #ffffff;
  padding: 40px;
  width: 320px;
  border-radius: 10px;
  text-align: center;
}

.logo {
  width: 70px;
  margin-bottom: 15px;
}

.auth-box input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

.auth-box button {
  width: 100%;
  padding: 10px;
  background: #0b1c2d;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

/* DASHBOARD */

.dashboard {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  background: #081626;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-left img {
  width: 35px;
}

.logout {
  background: #f3a4c8;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
}

.board {
  display: flex;
  gap: 20px;
  padding: 20px;
  flex: 1;
}

.column {
  background: #ffffff;
  padding: 15px;
  width: 250px;
  border-radius: 8px;
}

.task {
  background: #e9ecf1;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
}

.add-task {
  background: none;
  border: none;
  color: #0b1c2d;
  cursor: pointer;
}

.column input {
  width: 100%;
  padding: 6px;
  margin-top: 8px;
  margin-bottom: 5px;
}